@import '../../styles/colors.scss';

.DateRange {
  width: 450px;
  display: flex;
  justify-content: space-around;

  &__field {
    label {
      color: #fff;

      font-weight: bold;
    }

    input {
      width: 200px;
      background-color: #050317;
      height: 30px;
      margin-top: 6px 0;
      color: #fff;
      font-size: 16px;
      border: none;
      // background: transparent;
      //border-bottom: 2px solid #050317;
      outline: none;
    }

    input {
      padding: 5px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
  }
}