@import '../../styles/colors.scss';

.DateRange {
    width: 600px;
    display: flex;
    justify-content: space-between;

    &__field {
        label {
            color: #fff;

            font-weight: bold;
        }

        input[type="date"] {
            margin-right: 10px;
            background-color: $color2;
            height: 30px;
            width: 200px;
            color: #fff;
            font-size: 16px;
            border: 1px solid #fff;
            border-radius: 4px;

        }
    }


}