.btn {
    text-decoration: none;
    border: 2px solid $color2;
    padding: 5px;
    align-self: center;
    text-align: center;
    transition: all 500ms ease-in-out;
    font-size: 14px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    background-color: $color2;
    color: #fff;
    line-height: 14px;

    &.secondary {
        background-color: transparent;

        &:hover {
            background-color: $color2;
        }
    }

    &:hover {
        background-color: transparent;
        cursor: pointer !important;
    }
}