@import '../../styles/colors.scss';
@import '../../styles/buttons.scss';

.MeteoriteInfoPopup {
    min-height: 300px;
    min-width: 200px;
    background-color: $color1;
    display: flex;
    flex-direction: column;

    &__header {
        background-color: $color2;
        color: #fff;
        padding: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        flex-basis: 10%;
    }

    &__body {
        color: #fff;
        flex-basis: 90%;
        display: flex;
        flex-direction: column;

        .info-row {
            margin: 12px 6px;

            span {
                &:first-of-type {
                    color: #eee;
                    font-weight: bold;
                }

                &:last-of-type {
                    font-weight: 300;
                    font-style: italic;
                }
            }
        }

        .edit-link {
            @extend .btn;
            width: 50%;
            margin-bottom: 12px;
        }

    }
}

// library overrides
.mapboxgl-popup-content {
    background-color: $color1 !important;
    border: 1px solid #fff;
    padding: 0 !important;
    border-radius: 0 !important;
}

.mapboxgl-popup-close-button {
    color: #fff !important;
    top: 5px !important;

}